

:root {
  --color-base: #f5f5fb;
  --color-white: #fff;
  --color-light: #f4f4fa;
  --color-text: #1d1d3e;
  --color-text-light: #bbbbbb;
  --color-gray: #c9d1e0;

  --color-purple-lightest: #e1e6f5;
  --color-purple-light: #f1effc;
  --color-purple: #4e57aa;
  --color-purple-darkest: #4e57aa;

  --shadow-default: #e5e5f6;
  --shadow-dark: #767680;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-base);
  color: var(--color-text);
	overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
	display: flex;
}

.page-modal {
	position: relative;
	overflow: hidden;
}
.page-modal:after {
	position: absolute;
	content: ' ';
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background: var(--color-text-light);
	opacity: 0.8;
	z-index: 7;
}

aside {
	background: var(--color-white);
	box-shadow: 0 0 30px var(--shadow-default);
	width: 100px;
	height: 100vh;
	z-index: 1;
	padding: 0 1.25rem;
	left: 0px;
}
aside .list-group-item {
	border-bottom: none;
}
aside .list-group-item i {
	color: var(--color-purple-lightest);
	font-size: 1.25em;
}
aside .logo {
	width: 30px;
	margin: 1rem;
}

aside.help {
	position: absolute;
	top: 0px;
	right: -400px;
	width: 360px;
	z-index: 9;
	transition: all 0.5s ease-in-out;
	left: auto;
}
aside.help.active {
	right: 0px;
	box-shadow: 0 0 30px var(--shadow-dark);
}

main {
	width: calc(100% - 100px);
	z-index: 5;
	max-height: 100vh;
	overflow-y: scroll;
}


section {
	margin-bottom: 1rem;
	background: var(--color-white);
	border-radius: 5px;
	box-shadow: 0 0 30px var(--shadow-default);
	padding: 5px;
}

section.multi-measure {
	background: var(--color-purple-lightest);
	box-shadow: none;
	padding: 15px;
}

.bx {
	border: 1px solid var(--color-purple);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
	padding: 2rem;
	text-align: center;
	font-size: 1em;
	cursor: pointer;
}
.bx i {
	display: block;
	font-size: 4em;
	color: var(--color-purple);
}
.bx strong {
	display: block;
}
.bx:hover,
.bx.active {
	background: var(--color-purple);
	color: var(--color-white);
	box-shadow: 0 0 30px var(--shadow-default);
}
.bx:hover i,
.bx.active i {
	color: var(--color-purple-lightest);
}
.bx.type-mini {
	padding: 0.5rem;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.bx.type-mini i,
.bx.type-mini strong {
	display: inline-flex;
	font-size: 1em;
}
.bx.type-mini i {
	font-size: 2em;
	margin-right: 0.5rem;
}
.bx.type-mini small {
	display: none;
}





/*

	HELPERS

*/
.btn {
	outline: none !important;
	box-shadow: none !important;
}
.btn-help i {
  color: var(--color-text-light);
}
.btn-gray {
	background: var(--color-gray);
	min-height: 100px;
}
.alert-purple {
  color: var(--color-white);
  background-color: var(--color-purple-darkest);
  border-color: var(--color-purple-darkest);
}
.alert-light {
  background-color: var(--color-light);
  border-color: var(--color-light);
}
.custom-control label {
	color: var(--color-text-light);
}
.nav-pills .nav-link {
  padding: .25rem 0.5rem;
  color: var(--color-text-light);
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none !important;
  outline: none !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--color-purple);
  background-color: transparent;
  border: 1px solid var(--color-purple);
}
.list-group-item {
	background: transparent;
}

.table td, .table th {
	border-bottom: none;
	padding: 1.5rem;
}
.table thead {
	position: relative;
	z-index: 99;
}
.table .thead-purple {
	background: var(--color-purple);
}
.table .thead-purple th {
	color: var(--color-white);
	border: none !important;
	font-weight: 100;
}
.table .thead-purple th:first-child {
	border-radius: 10px 0 0 10px;
}
.table .thead-purple th:last-child {
	border-radius: 0 10px 10px 0;
}
.table tbody tr {
	transition: all 0.3s ease-in-out;
}
.table tbody tr td:first-child {
	border-radius: 10px 0 0 10px;
}
.table tbody tr td:last-child {
	border-radius: 0 10px 10px 0;
}
.table tbody tr td .btn-view {
	color: var(--color-gray);
}
.table tbody tr:hover {
	background: var(--color-white);
	border-radius: 10px !important;
	box-shadow: 0 10px 30px var(--shadow-default);
}
.table tbody tr:hover td .btn-view {
	color: var(--color-purple);
}
.progress {
	border-radius: .5rem;
}
.progress-bar {
	background-color: var(--color-purple);
}
.list-group-selected {
    background: rgba(100, 100, 100, 0.2);
    overflow-y: scroll;
    max-height: 400px;
    border-radius: 5px;
}
.list-group-selected .list-group-item {
	padding: .75rem .125rem;
}

